
.title{
	text-align: center;
	font-size: 60px;
  	font-family: "Honk", system-ui;
	margin:auto;
 
}

.informacion{
	grid-column:3 / 10;
	grid-row: 1;
	position: absolute;
	align-self: start;
	justify-self: stretch;
}

/* Contenedor principal cuadrícula de 18 columnas */

.tabla-periodica {
 	display: grid;
	grid-template-columns: repeat(18, 70px);
	gap: 4px;    
	justify-content: center;
	position:relative;
	margin: 0 auto;     
	max-width: 1260px;
}

.elemento-base-muestra {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	display: flex;     	
	flex-direction: column;
    	justify-content: center;
    	align-items: center;
	font-family: sans-serif;
   	padding: 0;
}


/* Estilo base para todos los elementos */

.elemento-base {
	width: 68px;
	height: 68px;
	border: 1px solid black;
	display: flex; /* Usamos flex para ayudar a centrar el símbolo */
        flex-direction: column;
        justify-content: center;
        align-items: center;
	position: relative; /* Esencial para posicionar el peso, número y nombre */
	font-family: sans-serif;
        padding: 0; /* Asegura que el contenido use todo el espacio interno */
}

/*COLORES*/

.elemento-base-muestra{
    background-color: #CDCDCD;
    color: black;
}

.elemento-alcalinos {
    background-color: #7F00B2;
    color: white;
}

.alcalinoterreos{
    background-color: #FF8000; 
    color: black;
}

.transicion {
    background-color: #F8B400; 
    color: black;
}

.otro-metal {
    background-color: #00BFFF; 
    color: black;
}

.metaloide {
    background-color: #7FFF00;
    color: black;
}

.elemento-no-metales {
    background-color: #304FFE;
    color: white;
}

.halogenos {
    background-color: #FF00FF;
    color: white;
}

.gases-nobles{
    background-color: #FFB5C0;
    color: black;
}

.lantanidos {
    background-color: #F08080;
    color: black;
}

.actinidos {
    background-color: #DDA0DD;
    color: black;
}

.desconocido {
    background-color: #AAAAAA; 
    color: black;
}

/*POSICIONAMIENTO DE LOS DATOS*/

.peso-atomico{
	position: absolute;
    top: 3px;
    left: 3px;
	font-size: 8px;
}

.numero-atomico{
    position: absolute;
    top: 3px;
    right: 3px;
	font-size: 10px;
}

.simbolo{
	font-size: 25px;
    font-weight: bold;
    margin-top: 5px; 
}

.nombre{
    position: absolute;
    bottom: 3px;
    left: 3px;
    text-align: left;
	font-size: 7px;
    line-height: 1;
}

.series-inferiores-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  
   

}

.series-inferiores {
    display: grid;
    grid-template-columns: repeat(14, 70px); 
    gap: 4px;
    margin: 10px 280px;
	
}

.grupo-3-placeholder {
    display: flex;
    justify-content: center;
    align-items: ri;
    font-size: 10px;
    color: #666;
    border: 1px dashed #ccc;
    background-color: #f0f0f0;
    width: 68px;
    height: 68px;
    grid-column: 3; 
}
